.btn-import {
    font-weight: 700;
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    height: 32px;

    &:disabled {
        cursor: not-allowed;
        background-color: var(--blue-light); 
    }

}

#errors {
    color: var(--red);
    padding: 4px 0;
}
#success {
    color: var(--green);
    padding: 4px 0;
}

.cont-input-file {
    display: flex;
    align-items: center;
    input {
        flex: 3;
    }
    div {
        flex: 2;
    }
}