body {
    --bg-color: rgb(255, 255, 255);
    --text-color: black;
    --light-bg: rgb(212, 212, 212);
    --green: rgb(133, 200, 34);
    --red: red;
    --orange: rgb(255, 162, 0);

    &.darkmode {
        --light-bg: rgb(32, 32, 32);
        --bg-color: rgb(51, 51, 51);
        --text-color: rgb(255, 255, 255);
    }
}