.container-lock-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-locked-screen {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        padding: 32px;
        input{
            padding: 8px;
            border-radius: 8px;
            border: 1px var(--text-color) solid;
            font-size: 64px;
            height: 50px;
            text-align: center;
            color: var(--text-color);
            background-color: var(--bg-color);
            width: 100%;
            &:focus {
                border: 1px var(--blue) solid;
                outline: none;
            }
            &[type='password'] {
                font-family: Verdana;
                letter-spacing: 0.110em;
            }
        }
    }
}