* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
}

.test {
    background-color: black;
    height: 100vh;
    padding: 24px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  background-image: url('https://www.wallpaperuse.com/wallp/79-796213_s.jpg');
  background-position: center;
  background-size: cover;

}

#app > nav {
  z-index: 1000;
  width: 50vw;
  position: absolute;
  bottom: 5vh;
  border-radius: 15px;
  left: 25vw;
  padding: .8em;
  display: flex;
  justify-content: flex-start;
  gap: .8em;
  background-color: rgba(0, 0, 0, 0.4);
  transition: .2s ease;
}



.app-button {
  cursor: pointer;
  height: 64px;
  width: 64px;
  background-color: blue;
  border-radius: 10px;
  background-image: url('https://store-images.s-microsoft.com/image/apps.2005.14057826194083709.67242c47-4fd7-4f1a-9dd6-5d93f6cc10df.f80f14c0-72ab-46ff-86cd-9d801c8e04e8?mode=scale&q=90&h=300&w=300');
  background-position: center;
  background-size: cover;
}

.application-window {
  -webkit-box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.19); 
  box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.19);
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;

  > main {
    height: 100%;
  }


  > nav {
    cursor: grab;
    position: relative;
    height: 2em;
    width: 100%;
    background-color: rgb(175, 175, 175);
    display: flex;
    > span.close {
      cursor: pointer;
      height: 100%;
      background-color: red;
      text-align: center;
      width: 2em;
    }
    > span.resize {
      cursor: pointer;
      height: 100%;
      background-color: grey;
      width: 2em;
    }
  }
}