#app > nav.status {
    width: 100vw;
    height: 2em;
    background-color: var(--light-bg);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    padding-right: .5em;
    > div {
      font-weight: 800;
      border-radius: 5px;
      padding: 0 .5em ;
  
    }

    #network-state {
      display: flex;
      gap: 3px;
    }

    #vibration-status > img {
      width: 24px;
    }
  }